{% extends "layout.html" %}

{% block title %}
HomePage
{% endblock  %}
{% block content %}
<div>
{% for hotel in hotels%}
    <div class='card'>
        <a href="{% url 'hotel:hotel_detail' hotel.slug %}">
        <div class ='card-header'>
            <h3>{{hotel.name}}</h3>
            {% if hotel.feautured %}
            <p>Feautured</p>
            {% endif %}
        </div>
        <div class='card-body'>
            <img src="{{hotel.image.url}}" width="100px" height="100px"/>
            
            <p>{{hotel.address}}</p>
            <p>{{hotel.phone}}</p>

        </div>
        </a>
    <div>
{% endfor %}
</div>

{% endblock  %}
