{% extends "layout.html" %}

{% block title %}
{{hotel.name}}
{% endblock  %}
{% block content %}
<div class='container'>
    <div class='row'>
    <div class='col'>
    {{hotel.name}}
    <div class="card-group" >
            {% for image in hotel.hotel_gallery.all %}
            <div class="card">
                <img class="d-block w-100 h-100" src="{{image.image.url}}" alt="Second slide">
            </div>
            {% endfor %}
        
      </div>
    <h3 class=''>Tags</h3>
    <div class='card-group'>
    {% for tag in hotel.tags.all %}
    <div class='card bg-primary'>
        <div class='card-body text-center'>
      <p class='card-text'>{{tag}}</p>
        </div>
    </div>
    {% endfor %}
    </div>
    <h3>Feautures</h3>
    <div>
    <div class='card-group'>
    {% for feauture in hotel.hotel_feautures %}
    <div class='card bg-success'>
      <p class='card-text text-center'>{{feauture.name}}</p>
    </div>
    {% endfor %}
    </div>
    <h3>Available room Types</h3>
    </div>
    {% for room in hotel.hotel_room_types%}
    <div class='card'>
        <div class= 'card-body'>
            <p class='card-text'>{{room.type}}</p>
      
            <p class='card-text'>
                <strong>Price:</strong> {{room.price}} CFA/Night 
            </p>
            <p class='card-text'>
                <strong>Room Capacity :</strong> {{room.room_capacity}} Persons
            </p>
            <p class='card-text'>
                <strong>Number of beds :</strong> {{room.number_of_beds}} Bed
            </p>
        <p>
            <a href="{% url 'hotel:room_type_detail' hotel.slug room.slug %}">
                View More
            </a>
        </p>
    
        </div>
    </div>
    {% endfor %}
</div>
<div class='col'>
    <div class="card">
        <div class="card-header bg-primary">
            Check Room Availability
        </div>
    <div class='card-body'>
    <form class='form-inline' method="POST" action="{% url 'booking:check_room_availability'%}">
        {% csrf_token %}
        <div class="form-group">
        <input type="text" class="form-control"  placeholder="1" name="hotel-id" value={{hotel.id}}>
    </div>
        </div>
        <div class='form-group'>
        <label class='h-3'> Check-in Date</label>
        <input type="date" class='form-control' name="checkin" />
        </div>
        <div class="form-group">
            <label> Check-out Date</label>
            <input type="date" class="form-control" name="checkout"/>
        <div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Adults</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control form-control-sm" id="colFormLabelSm" placeholder="1" name="adult" >
                </div>
              </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Children</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control form-control-sm" id="colFormLabelSm" placeholder="1" name="children">
                </div>
              </div>
            <div class='form-group'>
                <label class="" >Select Room Type</label>
                <select class="custom-select custom-select-lg mb-3" name="room-type">
                   {% for r in hotel.hotel_room_types  %}
                   <option value={{r.slug}}>{{r.type}}</option>
                   {% endfor %}
                  </select>
            </div>     
              <button class="btn btn-success"> Check Availability</button>
        </form>
    </div>
</div>
</div> 
</div>  
</div>    
{% endblock %}